
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    --Primary--: #9eded3;
    --Secondary--: #ff47f9;
    --Accent---: #ffb100;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* NAV BAR */
nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}

.logo_img{
    min-width: 100px;
    max-width: 150px ;
}

.nav_links{
    display: flex;
}

.link{
    padding: 10px 0px;
    cursor: pointer;
    margin: 0px 20px;
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
}


.btn{
    color: black;
    background-color: white;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 10px 20px;
    transition: all 300ms ease
}


.btn{
    color: black;
    background-color: white;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 10px 20px;
    transition: all 300ms ease
}



/* HOVER EFFECT */

p{
    background-color: white;
    color: black;
    margin: 12px 0px;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: white;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

.btn-notLogIn:hover,
.btn:hover{
    transform: scale(1.05) ;
}

.post-link:hover{
    filter: brightness(120%);
}
/* MAIN POST */

.mainpost-wrapper{
    width: 800px;
    background-color: white;
    margin: 90px auto;
    display: flex;
    padding: 20px;
    border-radius:10px;
    overflow: hidden;
}

.post-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.post-info{
    width: 50%;
    height: 100%;
    background-color: white;
    margin-left: 20px;
}

.post-title{
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
}


.username{
    font-size: 30px;
    font-weight: bold;
}

.userclick{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
}

.post-link{
    background-color: var(--Primary--);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 300ms ease;
}

.anchor-link{
    background-color: transparent;
    color: black;
    text-decoration: none;
}

#likeButton{
    font-size: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 400ms ease;
}

.fa-heart{
    background-color: white;
    color: red;
    padding: 5px 10px;
    font-size: 25px;
}

#likeButton:hover{
    transform: scale(1.05);
}


.btn-notLogIn{
    background-color: var(--Accent---);
    color: white;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: all 400ms ease;
}

#likeForm{
    background-color: white;
    
}
